// Variables //
@import "./import/font";

// Colors
$primary-color: #2728DD;
$secondary-color: #873DEB;
$third-color: #3DADEB;

//Font-family
$font-ibm:  'IBM Plex Sans';



//scrollbar
::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(146, 146, 146, 0.61);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $secondary-color;
}
