// Variables //
@import "./import/font";

// Colors
$primary-color: #020202;
$secondary-color: #873deb;
$third-color: #2728DD;

//Font-family
$font-ibm:  'IBM Plex Sans';


//scrollbar
::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(146, 146, 146, 0.61);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $secondary-color;
}

.fadeinEffect{
  animation: fadein 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
}

.fd-animation-0-8{
  animation-duration: 0.8s;
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}

.vue-form-wizard.md .wizard-icon-circle {
  width: 60px !important;
  height: 60px !important;
  margin-bottom: 10px !important;
}

.vue-form-wizard .wizard-nav-pills>li>a {
  top: 8px!important;
}

.vue-form-wizard{
  margin: 25px auto;
  height: 500px;

  .wizard-title{
    font-size: 40px;
    font-family: $font-ibm!important;
    font-weight: 900;
  }

  .category{
    font-size: 22px!important;
    font-family: $font-ibm!important;
    color: $third-color!important;
  }
}

.vue-form-wizard .wizard-tab-content {
  min-height: 200px;
}

.input-select-con{
  input {
    text-align: center;
  }
}

.proposals{
  .vs-card--header{
    background: $secondary-color!important;
    border-radius: 8px 8px 0 0!important;
    h3{
      color: white;
      font-family: $font-ibm;
      font-size: 30px;
      letter-spacing: .1em;
      font-weight: bolder;
      @media (max-width: 600px) {
        font-size: 20px;
      }
    }
  }
}

.proposalCard{
  .card-text {
    .con-select {
      label {
        margin-bottom: 5px !important;
        color: white !important;
      }
      .input-select-con{
        input{
          color: $secondary-color
        }
        i{
          color: $secondary-color
        }
      }
    }
  }
}

.register-container{
  @media (max-width: 600px) {
    overflow-y: auto;
    height: 600px;
    margin-bottom: 2rem;
    overflow-x: hidden;
  }
}


